ci/book*
*.aux
*.fls
*.idx
*.ilg
*.ind
*.toc
*.xdv
*.log
*.out
*.xmpdata
*.fdb_latexmk
*.swo
*.swn
*.xmpi
draft
testing
html-conversion
newdocumentclass
*-bak
node_modules
slide-conversion
book-pretext
ci/dist/
book/*pdf
